In [26]:
import pandas as pd
import numpy as np
%matplotlib inline

In [27]:
s1 = pd.Series([2,6,10,4],index=['a','b','c','d'])

In [28]:
s1[['c','a']]
w =3
x=8
y=11
z=8

In [29]:
obj = pd.Series({'text':"Hello" , 'b' : 3, 'Bool':True, "s1":s1})

In [30]:
obj['text'] = "Hello World"

In [31]:
obj['text']

'Hello World'

In [32]:
s1 * obj

Bool    NaN
a       NaN
b        18
c       NaN
d       NaN
s1      NaN
text    NaN
dtype: object

In [33]:
pf = pd.DataFrame(data=[[w,x,y,z],[2,4,6,8],['A','B','C','D']],columns=['C1','C2','C3','C4'])

In [34]:
pf

  C1 C2  C3 C4
0  3  8  11  8
1  2  4   6  8
2  A  B   C  D

In [35]:
pf['C1',0] = 0

In [36]:
pf

  C1 C2  C3 C4  (C1, 0)
0  3  8  11  8        0
1  2  4   6  8        0
2  A  B   C  D        0

In [37]:
pf.drop(('C1',0),axis=1,inplace=True)

In [38]:
pf

  C1 C2  C3 C4
0  3  8  11  8
1  2  4   6  8
2  A  B   C  D

In [39]:
pf.loc[1,'C1':] + pf.loc[0,'C1':]

C1     5
C2    12
C3    17
C4    16
dtype: object

In [40]:
pf.index

RangeIndex(start=0, stop=3, step=1)

In [41]:
classinfo = np.array([['Tomi','Tech','Red', 21],['Aoi','Anime','Blue',21],['Renton', 'Lifting','White',16],['Deku','Heroing','Green',15],['Bakugo','Heroing', 'Black',15]])

In [42]:
classinfo

array([['Tomi', 'Tech', 'Red', '21'],
       ['Aoi', 'Anime', 'Blue', '21'],
       ['Renton', 'Lifting', 'White', '16'],
       ['Deku', 'Heroing', 'Green', '15'],
       ['Bakugo', 'Heroing', 'Black', '15']],
      dtype='<U7')

In [43]:
cdb = pd.DataFrame(data = classinfo,columns=['Name','Intrest','Color','Age'])

In [44]:
cbd

NameError: name 'cbd' is not defined

In [ ]:
cdb.loc[0:,['Name','Age']]

In [ ]:
cdb.set_index(['Age','Name']).loc['21']

In [ ]:
cdb.index

In [ ]:
infomiss = [['Tomi',np.nan,'Red', np.nan],[np.nan,np.nan,np.nan,21],['Renton', np.nan,'White',16],['Deku',np.nan,'Green',np.nan],['Bakugo',np.nan, 'Black',np.nan]]

In [ ]:
infomiss

In [ ]:
missdb = pd.DataFrame(data = infomiss,columns=['Name','Intrest','Color','Age'])

In [ ]:
missdb

In [ ]:
missdb.dropna(axis=1, how='all')

In [ ]:
missdb.dropna(axis=0,how='all')

In [ ]:
missdb.fillna('null')

In [ ]:
missdb['Age'].fillna(missdb['Age'].mean())

In [46]:
bigData = [['Team0','P1','M',6,18],['Team0','P2','M',87,19],['Team0','P3','F',65,16],['Team1','P4','M',99,18],
           ['Team1','P5','F',65,14],['Team1','P6','M',89,21],['Team2','P7','F',23,23],['Team2','P8','M',45,24],
           ['Team2','P9','M',60,25],['Team0','P10','F',100,14],['Team2','P11','M',100,15]
          ]

In [47]:
bDdb = pd.DataFrame(data=bigData, columns=['Team','Player','Sex','Points','Age'])

In [48]:
bDdb

     Team Player Sex  Points  Age
0   Team0     P1   M       6   18
1   Team0     P2   M      87   19
2   Team0     P3   F      65   16
3   Team1     P4   M      99   18
4   Team1     P5   F      65   14
5   Team1     P6   M      89   21
6   Team2     P7   F      23   23
7   Team2     P8   M      45   24
8   Team2     P9   M      60   25
9   Team0    P10   F     100   14
10  Team2    P11   M     100   15

In [49]:
bDdb.Age

0     18
1     19
2     16
3     18
4     14
5     21
6     23
7     24
8     25
9     14
10    15
Name: Age, dtype: int64

In [50]:
bDdb['Team'].value_counts()

Team2    4
Team0    4
Team1    3
Name: Team, dtype: int64

In [ ]:
bDdb['Team'].nunique()

In [ ]:
byTeam = bDdb.groupby('Team')

In [ ]:
byTeam['Points'].sum()

In [ ]:
byTeam.mean()

In [ ]:
bDdb.groupby('Sex').mean()

In [ ]:
bDdb.groupby('Sex').describe()

In [ ]:
def congrats(x):
    if x > 70:
        return "Congrats "
    else:
        return ""

In [ ]:
bDdb['Player'] = bDdb['Points'].apply(congrats) + bDdb['Player']

In [ ]:
bDdb

In [ ]:
max("ankit mistry")

In [ ]:
str1 ='{2},{1} and {0}'.format('b','a1','3')
str2 = '{0}{1}{0}'.format('cba','321')
print(str1,str2)

In [ ]:
print("Hello"[::-1])

In [ ]:
print(0.1 + 0.2 == 0.3 )

In [ ]:
print(0.1 + 0.3 ==0.4)

In [ ]:
l1 = [2,3,5]
l2 = l1.copy()
l3 = l1
l2[0] = 8
print(l3)
l3[0] = 10
print(l1)
print(l2)

In [ ]:
bDdb

In [ ]:
bDdb.to_csv("Sample.csv")

In [ ]:
bddf = pd.read_csv('Sample.csv', index_col=0)

In [ ]:
bddf

In [ ]:
billyClub_list = pd.read_html("https://en.wikipedia.org/wiki/The_World%27s_Billionaires")

In [ ]:
print(type(billyClub_list))

print(len(billyClub_list))

In [ ]:
billyClub_list[1]

In [ ]:
billyClub = pd.DataFrame(data=billyClub_list[1])

In [ ]:
billyClub

In [ ]:
billyClub.to_excel("billyClub.xls")

In [ ]:
randDf = pd.DataFrame(data=np.random.randint(1,100,(100,3)), columns=['C1','C2','C3'])

In [ ]:
randDf

In [ ]:
randDf.head()

In [ ]:
randDf['C1'].plot.area()

In [ ]:
randDf.loc[0:20].plot.area()

In [ ]:
randDf.loc[0:20].plot()

In [ ]:
randDf['C1'].plot.bar()

In [ ]:
randDf.loc[0:25].plot.bar(stacked=True)

In [ ]:
randDf.loc[0:,'C3'].plot.line()

In [ ]:
randDf.plot.box()

In [ ]:
randDf.plot.kde()

In [ ]:
randDf.plot.scatter(x='C1',y='C2')

In [ ]:
randDf.plot.hist()

In [ ]:
randDf['C1'].plot.hist(bins=5)